<div id='signup' ng-controller='AuthController'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input name='email' type='email' ng-model='user.username' ng-focus="user.usernameFocus = true" ng-blur="user.usernameFocus = false">
    <input name ='password' type="password" ng-model='user.password' ng-focus="user.passwordFocus = true" ng-blur="user.passwordFocus=false" required>
    <button ng-disabled='!signupForm.email.$valid || signupForm.password.$error.required'>signup</button>
    <p ng-show="!signupForm.email.$valid && !user.usernameFocus">Please enter valid e-mail address.</p>
    <p ng-show="signupForm.password.$error.required && !user.passwordFocus">Password is a required field.</p>
  </form>
  <a href="#/signin">Already have an account? Signin ...</a>
</div>
